*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-color: hsl(225, 100%, 94%);
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    font-family: 'Red Hat Display', sans-serif;
}
.container{
    width: 100%;
    height: 100hv;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 410px;
    max-width: 100%;
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    height: 670px;
    flex-direction: column;
}
.header{
    max-width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
    margin-bottom: 7%;
}
.title{
    font-size: 28px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin-bottom: 5%;
}
.dis{
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    padding: 0 55px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 8%;
}
.annual{
    display: flex;
    background-color:hsla(224, 23%, 90%, 0.3);
    border-radius: 10px;
    justify-content: space-around;
    width: 80%;
    height: 15%;
    align-items: center;
    margin-bottom: 7%;
}
.text-annual{
    margin-left: -40px;
}
.text-annual h3{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 16px;
    line-height: 25px;
}
.text-annual h4{
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    font-size: 14px;
}
.annual > a{
    font-weight: 700;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}
.annual a:hover{
    color:dodgerblue;
    text-decoration: none;
}
.button{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.proceed{
    width: 80%;
    text-align: center;
    height: 50px;
    background: rgba(56, 42, 225, 1.0);
    margin: 0 auto;
    border-radius: 12px;
    box-sizing: border-box;
    padding-top: 15px;
    margin-bottom: 7%;
    box-shadow: -1px 11px 49px 7px rgba(34, 60, 80, 0.16);
    transition: all 0.3s ease 0s;
}
.proceed a{
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.proceed:hover{
    background: rgba(56, 42, 225, 0.7);
}
.cancel{
     margin: 0 auto;
}
.cancel a{
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.cancel a:hover{
    color: navy;
}
@media(max-width: 500px){
    .card{
        width: 320px;
         height: 630px;
    }
    .dis{
        padding: 0 30px;
    }
    .text-annual{
    margin-left: -15px;
}
}